﻿.Finished {
    background-color: #cef3ce;
}

.Running {
    background-color: #f9f1b3
}

.Failed {
    background-color: #ff8989
}

.Created {
    background-color: lightgray
}

.Metadata {
    background-color: lightgray
}

/* no limit to widt popovers*/
.popover {
    max-width: 75%;
    max-height: none;
}

.clipbtn {
    margin: 5px;
    margin-top: 0;

}
