﻿@{
    ViewBag.Title = "JobList";

}
    @model  List<YouTubeRestAPI.Models.PostJob>
<div>
    <div class="container-fluid">
        <table id="records_table" class="table table-hover table-sm small">
            <thead>
                <tr class="bg-secondary text-light">
                    <th></th>
                    <th class="text-center">job_id</th>
                    <th class="text-center">creation_date</th>
                    <th class="text-center">start</th>
                    <th class="text-center">end</th>
                    <th class="text-center">iNOS type</th>
                    <th>job_url</th>
                    <th>asset_name (guci)</th>
                    <th>story_id</th>
                    <th>task_name</th>
                    <th>inos_story_name</th>
                    <th>status</th>
                    <th>progress</th>
                    <th>error_description</th>
                </tr>
            </thead>
            @foreach (var row in Model)
            {
                <tr class="@row.job_status">
                    <td>
                        <a href="#" tabindex="0" role="button" title="Movie Metadata:" data-toggle="popover" data-html="true" data-container="body" data-trigger="focus" data-content="@((System.Text.RegularExpressions.Regex.Replace(Newtonsoft.Json.JsonConvert.SerializeObject(row,Newtonsoft.Json.Formatting.Indented).Replace("\n","<br>"),@"<br>(.+?):",@"<br><b>$1</b>:")))">
                            <img class="clipbtn" src="~/Images/clip.png" />
                        </a>
                    </td>
                    <td class="text-center">@row.job_id</td>
                    <td class="text-nowrap text-center">@row.job_creation_date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td class="text-nowrap text-center">@(row.job_start_date == null ? "" : row.job_start_date.Value.ToString("HH:mm:ss"))</td>
                    <td class="text-nowrap text-center">@(row.job_end_date == null ? "" : row.job_end_date.Value.ToString("HH:mm:ss"))</td>
                    <td class="text-center">@(row.inos_environment)</td>
                    <td><a data-toggle="tooltip" href="@row.job_url" target="_blank" title="@row.job_url">@(row.job_url.Length > 50 ? row.job_url.Substring(0, 50) + "..." : row.job_url)</a></td>
                    <td class="text-nowrap">@row.inos_asset_name</td>
                    <td>@row.inos_story_id</td>
                    <td>@row.inos_task_id</td>
                    <td>@(row.inos_story_name.Length > 50 ? row.inos_story_name.Substring(0, 50) + "..." : row.inos_story_name)</td>
                    <td>@row.job_status</td>
                    <td>@row.job_progress</td>
                    <td>@row.job_error_description</td>
                </tr>
            }
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $('.popover-dismiss').popover({
            trigger: 'focus'
        });

    </script>
</div>